<div class="d-flex align-items-center">
  <h1>Étudiants de la filière</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Pseudo</th>
      <th scope="col">Mot de passe</th>
      <th scope="col">Admin ?</th>
      <th scope="col">Scores</th>
    </tr>
  </thead>
  <tbody>
    @if (utilisateursFromMajor$ | async; as utilisateursFromMajor) { @if (utilisateursFromMajor.length === 0) {
    <h2>Aucun étudiant n'est inscrit dans cette filière.</h2>
    } @for (utilisateur of utilisateursFromMajor; track utilisateur) {
    <tr>
      <td>{{ utilisateur.pseudo }}</td>
      <td>{{ utilisateur.mdp }}</td>
      <td>{{ utilisateur.admin }}</td>
      <td>{{ utilisateur.scores }}</td>
      <!--<td>{{ utilisateur.major!!.name }}</td>-->
    </tr>
    } }
  </tbody>
</table>
