<body>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h1>Inscription</h1>
  <div>
    <label for="name">Pseudo:</label>
    <input class="InfoSaisie" id="name" formControlName="name">
    <label for="mdp">Mot de passe:</label>
    <input class="InfoSaisie" id="mdp" formControlName="mdp">
  </div>
  <div class="Rb">
    <mat-radio-group aria-label="Select an option" (change)="onRadioButtonChange($event)" formControlName="imageName">
      <mat-radio-button value="PhotoProfil1" class="Rb"><img src="assets/PhotoProfil1.jpg" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil1" class="Rb"><img src="assets/PhotoProfil1.jpg" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil1" class="Rb"><img src="assets/PhotoProfil1.jpg" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil1" class="Rb"><img src="assets/PhotoProfil1.jpg" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil1" class="Rb"><img src="assets/PhotoProfil1.jpg" height="100px"/></mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-raised-button type="submit" [disabled]="myForm.invalid">S'incrire !</button>
</form>


<!-- A utiliser pour la partie Admin
  @for (user of users; track user.id) {
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{user.id}}</mat-card-title>
        <img mat-card-sm-image src="assets/{{user.imageName}}.jpg" >
      </mat-card-header>
    </mat-card>
  }
  @for (user of users; track user.id) {
    <label>{{user.imageName}}</label>
  }
  -->

</body>
