<body>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h1>Inscription</h1>
  <div>
    <label for="pseudo">Pseudo:</label>
    <input class="InfoSaisie" id="pseudo" formControlName="pseudo">
    <label for="mdp">Mot de passe:</label>
    <input class="InfoSaisie" id="mdp" formControlName="mdp">
  </div>
  <div class="Rb">
    <mat-radio-group aria-label="Select an option" (change)="onRadioButtonChange($event)" formControlName="pdp">
      <mat-radio-button value="PhotoProfil2" class="Rb"><img src="assets/PhotoProfil2.png" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil3" class="Rb"><img src="assets/PhotoProfil3.png" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil4" class="Rb"><img src="assets/PhotoProfil4.png" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil5" class="Rb"><img src="assets/PhotoProfil5.png" height="100px"/></mat-radio-button>
      <mat-radio-button value="PhotoProfil6" class="Rb"><img src="assets/PhotoProfil6.png" height="100px"/></mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-raised-button type="submit">S'incrire !</button>
</form>


<!-- A utiliser pour la partie Admin
  @for (user of users; track user.id) {
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{user.id}}</mat-card-title>
        <img mat-card-sm-image src="assets/{{user.imageName}}.jpg" >
      </mat-card-header>
    </mat-card>
  }
  @for (user of users; track user.id) {
    <label>{{user.imageName}}</label>
  }
  -->

</body>
