<div class="d-flex align-items-center" xmlns="http://www.w3.org/1999/html">
  <h1>Incription</h1>
</div>

<body>
<form method="post">
  <input type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo" required><br>
  <input type="text" name="mdp" placeholder="Votre mot de passe" required><br>
  <input class="BoutonEnvoyer" type="submit" name="formsend" id="formsend">
</form>
<label>Selectionner une photo de profil :</label>
<input type="submit" value="..." onclick="window.open('SelecImageProfil.htm','wclose',
'width=500,height=250,toolbar=si, scroolbar=si, status=si,left=20,top=30');return false;">
</body>
