<body>
  <div class="InfoUser">
    <div class ="BoiteUser">
      <!--<img src="{{utilisateurs[0].pdp}}" >-->
      <img class="PhotoProfil" src="./assets/PhotoProfil1.jpg" alt="bla">
      <h1 class="Pseudo">{{utilisateurs[0].pseudo}}</h1>
      <label class="MotDePasse">Mot de passe : {{utilisateurs[0].mdp}}</label><br>
      <label class="ScoresCumule">Scores cumulés : {{utilisateurs[0].scores}}</label>
    </div>
    <div class="TabScores">
      <h1 class="Scores">Scores</h1>
      <label>{{utilisateurs[0].scores}}</label>
    </div>
  </div>
</body>


