<body>
  <div class="InfoUser">
    <div class ="BoiteUser">
      <!--<img src="{{utilisateurs[0].pdp}}" >-->
      <img class="PhotoProfil" src="./assets/PhotoProfil1.jpg" alt="bla">
      <h1 class="Pseudo">{{utilisateurs[0].pseudo}}</h1>
      <label class="MotDePasse">Mot de passe : {{utilisateurs[0].mdp}}</label><br>
      <label class="ScoresCumule">Scores cumulés : {{utilisateurs[0].scores}}</label>
    </div>
    <div class="TabScores">
      <h1 class="Scores">Tableau des scores</h1>
      <label>{{utilisateurs[0].scores}}</label>
      <table>
        <thead>

          <tr>
            <td style="border: 2pt solid #DF4B16"><b>Quizz</b></td>
            <td style="border: 2pt solid #DF4B16"><b>Score</b></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>bla bla</td>
            <td>0</td>
          </tr>
          <tr>
            <td>bla bla</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>


