@use "theme";

:host {

  .InfoUser{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
  }

  .BoiteUser{
    background-image: url("/assets/boite_profil_fond.png");
    //background-color: #F7BC49;
    border: #F7BC49 3px solid;
    padding: 120px 120px;
    border-radius: 20px;
    position: relative;
    margin: 0 80px;
  }

  .BoiteUser:hover{
    border: #E97A2C 3px solid;
    box-shadow:  0 21px 41px 0 #f5d18b;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .PhotoProfil{
    display: flex;
    width: 200px;
    border: #F7BC49 3px solid;
    border-radius: 50%;
    box-shadow:  0 21px 41px 0 #f5d18b;
    margin-bottom: 40px;
  }
  .Pseudo{
    border: #E97A2C 2px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
  }

  .TabScores{
    border: #F7BC49 3px solid;
    min-height: 600px;
    width: 1000px;
    border-radius: 20px;
    position: relative;
    margin: 0 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .TabScores table{
    width: 100%;
    border-spacing: 2pt;
    border-collapse: separate;
  }

  .TabScores td, tr{
    padding: 10px;
    border: 1pt solid #DF4B16;
    border-radius: 10px;
  }

  .TabScores:hover{
    border: #E97A2C 3px solid;
    box-shadow:  0 21px 41px 0 #f5d18b;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  }

  .Scores{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .InfoQuiz{
    display: flex;
  }
  .InfoUser{
    display: flex;
  }

  label{
    margin-left: 20px;
  }
}
