<body>
  <div class="InfoUser" *ngIf="utilisateur">
    <div class ="BoiteUser">
      <!--<img src="{{utilisateurs[0].pdp}}" >-->
      <img class="PhotoProfil" src="./assets/{{utilisateur.pdp}}.png" alt="bla">
      <h1 class="Pseudo">{{utilisateur.pseudo}}</h1>
      <label class="MotDePasse">Mot de passe : {{utilisateur.mdp}}</label><br>
      <label class="ScoresCumule">Score cumulé : {{scoreCumule}}</label>
      <button (click)="logout()">Déconnexion</button>
    </div>
    <div class="TabScores">
      <h1 class="Scores">Tableau des scores</h1>
      <table>
        <thead>

          <tr>
            <td style="border: 2pt solid #DF4B16"><b>Quizz</b></td>
            <td style="border: 2pt solid #DF4B16"><b>Score</b></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let score of scores">
            <td style="border: #DF4B16" >{{ score.quizz }}</td>
            <td style="border: #DF4B16">{{ score.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>


