<form [formGroup]="userForm" class="form1">
  <h1>Ajout Utilisateur</h1>
    <div>
      <label for="pseudo">Pseudo:</label>
      <input class="InfoSaisie" id="pseudo" name="pseudo" formControlName="pseudo" required>
      <label for="mdp">Mot de passe:</label>
      <input class="InfoSaisie" id="mdp" name="mdp" formControlName="mdp" required>
    </div>
    <div class="Rb">
      <mat-radio-group aria-label="Select an option" (change)="onRadioButtonChange($event)" formControlName="imageName">
        <mat-radio-button value="PhotoProfil2" class="Rb"><img src="assets/PhotoProfil2.png" height="100px"/></mat-radio-button>
        <mat-radio-button value="PhotoProfil3" class="Rb"><img src="assets/PhotoProfil3.png" height="100px"/></mat-radio-button>
        <mat-radio-button value="PhotoProfil4" class="Rb"><img src="assets/PhotoProfil4.png" height="100px"/></mat-radio-button>
        <mat-radio-button value="PhotoProfil5" class="Rb"><img src="assets/PhotoProfil5.png" height="100px"/></mat-radio-button>
        <mat-radio-button value="PhotoProfil6" class="Rb"><img src="assets/PhotoProfil6.png" height="100px"/></mat-radio-button>
      </mat-radio-group>
    </div>
    <button type="button" (click)="AjouterUser()">Ajouter</button>
</form>

<form class="form1">
  <h1>Supprimer Utilisateur</h1>
  <div class="SupUser">
    @for (utilisateur of utilisateurs ; track utilisateur) {
      <div>
        <p>Pseudo: {{utilisateur.pseudo}}</p>
        <p>ID: {{utilisateur.id}}</p>
        <p>Score: {{utilisateur.scores}}</p>
        <p>Mot de passe: {{utilisateur.mdp}}</p>
        <button type="button" (click)="SupprimerUser(utilisateur)">Supprimer</button>
      </div>
    }
  </div>
</form>

<form [formGroup]="quizzForm" (ngSubmit)="onSubmit()" class="form1">
  <h1>Ajout Quizz</h1>
  <div>
    <label for="titre">Titre: </label>
    <input class="InfoSaisie" id="titre" name="tire" formControlName="titre" required>
    <label for="nbQuestion">Nombre de question: </label>
    <input class="InfoSaisie" id="nbQuestion" name="nbQuestion" type="number" formControlName="nbQuestion" required>
    <button type="button" (click)="generateFields()">Continuer</button>
  </div>
  <div id="questions-container"></div>

</form>

<form class="form1">
  <h1>Supprimer Quizz</h1>
  <div class="SupQuizz">
    @for (quizz of quizzes ; track quizz) {
      <div>
        <p>Titre: {{quizz.titre}}</p>
        <p>ID: {{quizz.id}}</p>
        <button type="button" (click)="SupprimerQuizz(quizz)">Supprimer</button>
      </div>
    }
  </div>
</form>
