@use "theme";

:host {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;

  .form1 {
    width: 950px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F7BC49;
    border-radius: 10px;
    margin: 20px;
    .Rb{
      margin-top: 50px;
    }
    label{
      margin: 30px;
      font-size: 18px;
    }
    input{
      border: 2px solid #E97A2C;
      border-radius: 5px;
    }
    div {
      margin-top: 30px;
    }
    button {
      margin-top: 10px;
    }
    mat-radio-button{
      margin-top: 60px;
    }
    button{
      margin-top: 40px;
      background-color: white;
      border: 2px solid #E97A2C;
      padding: 10px 20px;
      border-radius: 20px;
    }
    button:hover{
      box-shadow:  0 11px 21px 0 #f5d18b;
      transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
    }
    img{
      border-radius: 50%;
    }
    .SupUser div p {
      display: inline;
      margin-right: 20px;
    }

    .SupQuizz div p {
      display: inline;
      margin-right: 20px;
    }

    #questions-container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      width: 950px;
      height: auto;
      border-right: 2px solid #F7BC49;
      border-left: 2px solid #F7BC49;
    }

    .question-block {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      background-color: #ffffff;
      border-radius: 5px;
    }

    .question-block input[type="text"],
    .question-block input[type="radio"] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .responses-container {
      margin-top: 20px;
      margin-right: 5px;
    }

    .responses-container label {
      display: block;
      margin-bottom: 5px;
    }

    .question-block input[type="radio"] {
      margin-left: 10px;
      margin-right: 5px;
      vertical-align: middle;
    }

  }

  .form1:hover{
    border: #E97A2C 3px solid;
    box-shadow:  0 21px 41px 0 #f5d18b;
    transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  }

}
