<div class="d-flex align-items-center">
  <h1>Étudiants</h1>
  <a mat-raised-button color="primary" routerLink="/details-etudiant/new">Ajouter</a>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">Filière</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    @for (utilisateur of utilisateurs$ | async; track utilisateur) {
    <tr routerLink="/details-etudiant/{{ utilisateur.id }}">
      <td>{{ utilisateur.pseudo }}</td>
      <td>{{ utilisateur.mdp }}</td>
      <td>{{ utilisateur.admin }}</td>
      <td>{{ utilisateur.scores }}</td>
      <!--<td>{{ utilisateur.major!!.name }}</td>-->
      <td>
        <button mat-icon-button color="warn" (click)="deleteUtilisateur($event, utilisateur)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
