<body>
<form [formGroup]="userForm" (ngSubmit)="connexion()">
  <h1>Connexion</h1>
  <div class="InfoUser">
    <label for="pseudo">Pseudo:</label>
    <input class="InfoSaisie" id="pseudo" formControlName="pseudo"><br><br>
    <label for="mdp">Mot de passe:</label>
    <input class="InfoSaisie" id="mdp" formControlName="mdp" type="password">
  </div>

  <button type="submit">Connexion !</button>

  <Label class="inscription">Tu n'as pas de compte ? <a href="/inscription">Inscription</a></Label>
</form>
</body>
