
@if (quizz) {
  <span class="title">{{ quizz.titre }}</span>


  <div class="quizz-group">

    @for (question of questions ; track question) {

      @if (question.quizz.id == quizz.id) {
        <div class="question" >
          <p class="question-titre">
            {{ question.contenu }}
          </p>

          <div *ngFor="let reponse of reponses; let i = index" class="réponses">
            @if (reponse.question.id == question.id) {

              <label class="réponse_button">

                <input type="checkbox" [(ngModel)]="reponsesJoueurs[i].selected" >
                <div class="checkmark"> </div>
                <div class="réponse_text" >{{ reponse.contenu }}</div>

              </label>
            }
          </div>

        </div>
      }
    }
  </div>

  @for (reponse of nombrequestion; track reponse)
  {
    <div class="réponse_text" >{{ reponse }}</div>
  }

  <button (click)="sendData()" > Valider </button>

} @else {
  <span class="title">Le quizz que vous cherchez n'existe pas</span>
}
