@use "theme";

:host {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 25px;
  flex-direction: column;

  .title {
    display: flex;
    color: theme.$common-red;
    font-size: xx-large;
    margin: 30px 0;
  }
}
