@use "@angular/material" as mat;
@include mat.core();

$red-orange-palette: (
  50: #E67027,
  100: #E56723,
  200: #E35C1E,
  300: #E1541A,
  400: #DF4B16,
  500: #DC4011,
  600: #DA370D,
  700: #D82E09,
  800: #D62505,
  900: #D41B00,
  contrast: (
    A50: #ffa698,
  ),
);
$yellow-orange-palette: (
  50: #FFDE59,
  100: #FCD053,
  200: #FAC74F,
  300: #F7BC49,
  400: #F4AA42,
  500: #F1A03D,
  600: #EF9538,
  700: #EE8E35,
  800: #EC8430,
  900: #E97A2C,
  contrast: (
    A50: #FFDE59,
  ),
);

$my-primary: mat.define-palette($red-orange-palette, 500, 50, 900);
$my-accent: mat.define-palette($yellow-orange-palette, 500, 50, 900);
$my-warn: mat.define-palette(mat.$yellow-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-colors($my-theme);

$common-red: mat.get-color-from-palette($red-orange-palette, 500);
$common-yellow: mat.get-color-from-palette(mat.$yellow-palette, A700);
$warn: mat.get-color-from-palette($my-warn, 400);
$white: #ffffff;
