

<span class="title">Accueil</span>

<div class="bienvenue">
  <span class="welcome">Bienvenue sur King Quizz !</span>
  <img class="dodo" src="assets/king%20dodo.gif" alt="dodo" />
</div>

<span class="title">Quizzes disponibles actuellement !</span>


<div class="quizz-group">

  @for (quizz of quizzes ; track quizz) {
  <div class="quizz">

    <a routerLink="/quizz/{{ quizz.id }}" > <img class="quizz-img-top" src="assets/img1.png" alt="Card image cap"> </a>

        <div class="quizz-body">

          <p class="quizz-titre">
            {{ quizz.titre }}
          </p>

          <p class="quizz-description">
            description du quizz {{ quizz.titre }}
          </p>

        </div>

    @for (question of questions ; track question) {

      @if (question.quizz.id == quizz.id) {
        <div class="question" >
          <p class="quizz-titre">
            {{ question.contenu }}
          </p>
        </div>
      }
    }

  </div>
    }

</div>
