

<span class="title">Accueil</span>
<div class="bienvenue">
  <span class="welcome">Bienvenue sur King Quizz !</span>
  <img class="dodo" src="assets/king%20dodo.gif" alt="dodo" />
</div>
<span class="title">Qu'est ce que vous allez faire pendant ce cours ?</span>
<div class="quizz-group">
  <div class="quizz">
    @for (student of students$ | async; track student) {
      <div routerLink="/details-etudiant/{{ student.id }}">
      <!--<div routerLink="/details-etudiant/{{ student.id }}">
        <div>{{ student.lastName }}</div>
        <div>{{ student.firstName }}</div>
        <div>{{ student.birthdate | date : "dd/MM/yyyy" }}</div>
        <div>{{ student.major!!.name }}</div>
      </div>
     --> <img class="quizz-img-top" src="assets/img1.png" alt="Card image cap" />
    <div class="quizz-body">
      <p class="quizz-titre">
        {{ student.lastName }}
      </p>
      <p class="quizz-description">
        description du quizz {{ student.firstName }}
      </p>
    </div>
      </div>
    }
  </div>
  <div class="quizz">
    <img class="quizz-img-top" src="assets/img2.png" alt="Card image cap" />
    <div class="quizz-body">
      <p class="quizz-titre">
        Titre du quizz 2
      </p>
      <p class="quizz-description">
        description du quizz 2
      </p>
    </div>
  </div>
</div>
