

<span class="title">Accueil</span>

<div class="bienvenue">
  <span class="welcome">Bienvenue sur King Quizz !</span>
  <img class="dodo" src="assets/king%20dodo.gif" alt="dodo" />
</div>

<span class="title">Quizzes disponibles actuellement !</span>


<div class="quizz-group">

  @for (quizz of quizzes ; track quizz) {
  <div class="quizz">

    <a routerLink="/quizz/{{ quizz.id }}" > <img class="quizz-img-top" src="assets/img1.png" alt="Card image cap"> </a>

    <div class="quizz-titre"> {{ quizz.titre }} </div>

    <a routerLink="/quizz/{{ quizz.id }}" ><button > Jouer </button></a>

    <button > Scores </button>

  </div>
    }

</div>
